{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col">
            <a href="{% url 'index' %}"><< Locations</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="mb-3 bd-text-purple-bright">{{ location.name }} cameras</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if camera_list %}
                <ul class="list-group">
                    {% for camera in camera_list %}
                        <li class="list-group-item"><a href="{% url 'camera' camera.id %}">{{ camera.name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No cameras found</p>
            {% endif %}
        </div>
    </div>
{% endblock %}